%ul
  %li
    %i.logo
  %li
    %form.search-bar
      %label{ for: "business" } Find
      %input{ type: "text", id: "business", placeholder: "burgers, barbers, spas, handymen..." }
      %label{ for: "place" } Near
      %input{ type: "text", id: "place", placeholder: "Toronto, ON" }
      %input{type: "submit", value: "Search"}
  %li
    %a.sign-up-button Sign Up