%section.home_main(style="background-image: url('images/home/pasta.jpg')")
  %div
    %nav.welcome-nav
      %ul.nav-left
        %li
          %a Write a Review
        %li
          = link_to "Find a Business", business_index_path
      %ul.nav-right
        %li
          = link_to "Log In", log_in_path
        %li
          = link_to "Sign Up", register_path, class: "sign-up-button"
    %h1.logo
    %form.search-bar
      %label{ for: "business" } Find
      %input{ type: "text", id: "business", placeholder: "burgers, barbers, spas, handymen..." }
      %label{ for: "place" } Near
      %input{ type: "text", id: "place", placeholder: "Toronto, ON" }
      %input{type: "submit", value: "Search"}