%nav.main-nav
  %ul
    %li
      %a Restaurants
    %li
      %a Nightlife
    %li
      %a Home Services
    %li.no-link
      %i .
    %li
      %a Write a Review
    %li
      %a Events
    %li
      %a Talk
    %li
      %a Log In
