%header
  %h1
%div.container
  %section.sign-up
    %div
      %h1 Log In to Yelp
      %h3.log-in-q New to Yelp?
      %a.log-in-q Sign up
      %form
        %input{type: "text", placeholder:"Email"}
        %input{type: "text", placeholder:"Password"}
        %input{type: "submit", value: "Log In"}
  %aside
    %img{ src: "images/general/signup_illustration.png"}