%header
  %h1
%div.container
  %section.sign-up
    %div
      %h1 Sign Up for Yelp
      %h3 Connect with great local businesses
      %form
        %input{type: "text", placeholder:"First Name", class: "half"}
        %input{type: "text", placeholder:"Last Name", class: "half"}
        %input{type: "text", placeholder:"Email"}
        %input{type: "text", placeholder:"Password"}
        %input{type: "submit", value: "Sign Up"}
  %aside
    %img{ src: "images/general/signup_illustration.png"}