header form.search-bar
  height: 36px
  line-height: 36px
  font-size: 14px
  width: 710px
  label
    width: 40px
  input[type=text]
    &:first-of-type,
    &:nth-of-type(2)
      width: 274px
  input[type=submit]
    background-color: #bd1f1f
    &:hover
      background-color: #a71c1c