.biz-show
  margin: 20px auto
  width: 960px

.show-title
  a
    color: #0073bb
  > h1
    font-size: 36px
    font-weight: bold
    line-height: 1.16667em
    padding-bottom: 10px
  .rating
    p
      display: inline-block
      color: #666
      padding-left: 2px
      padding-bottom: 20px
  .price-category
    span:first-child:after
      content: "."
      position: relative
      top: -4px
      padding: 0 2px 0 6px
    padding-bottom: 20px

.reviews
  padding-top: 20px
  > h2
    font-size: 21px
    padding-bottom: 6px
    border-bottom: 1px solid #ddd