body
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

.clearfix:after
  content: ""
  clear: both
  display: table

footer
  font-size: 14px
  padding: 15px 0 0 15px

a:-webkit-any-link
  color: inherit
  text-decoration: none

.stars
  display: inline-block
  background-image: image-url("general/stars@2x.png")
  background-size: 132px 560px
  vertical-align: middle

.i-stars
  background-image: image-url("general/stars@2x.png")

.i-gray-stars
  background: image-url("general/gray_stars.png") no-repeat
  background-size: 132px 560px
  display: inline-block
  vertical-align: middle